.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light-grey;
}

.info__content {
  margin-top: 47px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  width: 40px;
  height: 40px;
  fill: $color-red;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navigation__link {
  font-family: "AlegreyaSans", sans-serif;
  color: $color-black;
  font-size: 18px;
}

.navigation-button {
  display: none;
}

.navigation-button-close {
  display: none;
}

.navigation-button__icon {
  width: 27px;
  height: 24px;
}

.navigation-button-close__icon {
  width: 24px;
  height: 24px;
}

.phone {
  display: flex;
  align-items: center;
  min-width: 160px;
  gap: 5px;
}

.phone__icon {
  width: 14px;
  height: 14px;
}

.phone__number {
  font-size: 18px;
  color: $color-black;
}

.info__description {
  display: flex;
  align-items: center;
  margin-top: 47px;
}

.info__title {
  max-width: 80%;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

.info__synopsis {
  margin-top: 22px;
  max-width: 80%;
  font-family: "AlegreyaSans", sans-serif;
  font-size: 21px;
}

.order__button {
  margin-top: 36px;
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  padding: 21px 41px 21px 41px;
  border-radius: 100px;
  font-weight: 700;
}

.info__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 70px;
  width: 120%;
}

.info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}

.info__icon {
  width: 52px;
  height: 52px;
}

.info__text {
  margin-left: 11px;
}

@media (max-width: 768px) {
  .info__headphones {
    max-width: 323px;
    max-height: 323px;
  }

  .info__description {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info__list, .phone {
    display: none;
  }

  .navigation {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color-black-background;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navigation__link {
    color: $color-white;
    font-family: "Play", sans-serif;
    font-size: 36px;
    line-height: 72px;
  }

  .navigation-button {
    display: inline;
  }

  .navigation-button:hover + .navigation {
    display: inline;
  }

  .navigation-button:hover + .navigation-button {
    display: none;
  }

  .navigation-button:hover + .navigation-button-close {
    display: inline;
  }
}
