.purchase {
  display: flex;
  justify-content: center;
  background-color: $color-light-grey;
}

.purchase__container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;

  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
}

.purchase__headphones {
  position: absolute;
  z-index: 0;
  left: 0;

  @include tablets {
    max-width: 306px;
    max-height: 306px;
    position: static;
  }
}

.purchase__description {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  z-index: 1;

  @include tablets {
    margin-top: 49px;
    max-width: 100%;
    align-items: center;
  }
}

.purchase__button {
  width: 91px;
  height: 91px;
  background-color: $color-middle-grey;
  border: none;
  border-radius: 4px;
  padding: 25px;
  cursor: pointer;
  position: relative;

  @include tablets {
    display: none;
  }
}

.purchase__list {
  position: absolute;
  width: 273px;
  height: 294px;
  border-radius: 4px;
  display: none;
  left: 91px;
  top: 0;
  background-color: $color-light-grey-background;
}

.purchase__button:hover > .purchase__list {
  display: inline;
}

.purchase__point {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-right: 25px;
  margin-left: 30px;
}

.purchase__point-title {
  display: flex;
  justify-content: space-between;
}

.purchase__point-icon {
  margin-right: 18px;
  width: 24px;
  height: 24px;
}

.purchase__icon {
  width: 42px;
  height: 42px;
  fill: $color-white;
}

.purchase__title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;

  @include tablets {
    text-align: center;
    font-size: 28px;
    margin-top: 0;
  }
}

.purchase__text {
  margin-top: 24px;
  color: $color-grey;

  @include tablets {
    margin-top: 14px;
    text-align: center;
  }
}

.purchase__options {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  max-width: 60%;

  @include tablets {
    justify-content: center;
    gap: 44px;
  }
}

.purchase__option-subtitle {
  color: $color-grey;
}

.purchase__option-text {
  font-weight: 700;
  font-size: 18px;
}

.purchase__buying {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 13px;

  @include tablets {
    gap: 44px;
  }

  @include phones {
    gap: 13px;
  }
}

.purchase__price {
  font-size: 36px;
  color: $color-middle-black;

  @include phones {
    font-size: 32px;
  }
}
