.reviews {
  background-color: $color-white;
  display: flex;
  justify-content: center;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__main-header {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 68px;
  z-index: 1;
}

.reviews__content {
  display: flex;
  justify-content: space-between;
  background-color: $color-light-grey-background;
  margin-top: 32px;
  padding: 42px;
  width: 100%;
}

.reviews__text {
  margin-top: 32px;
  max-width: 600px;
}

.reviews__header {
  font-weight: 700;
  font-size: 24px;
}

.reviews__description {
  color: $color-grey;
  margin-top: 27px;
}

.reviews__author {
  margin-top: 38px;
  font-weight: 700;
  font-size: 18px;
}

.reviews__people {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 6px;
}

.reviews__person_active {
  border-radius: 104px;
  outline: 4px solid $color-red;
  outline-offset: -4px;
}
