@use "mixins.scss" as *;
@use "variables.scss" as *;

.phone__icon {
  width: 14px;
  height: 14px;
}

.phone__number {
  font-size: 18px;
  color: $color-black;
}

.order-button {
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  padding: 21px 41px 21px 41px;
  border-radius: 100px;
  font-weight: 700;
}

.scroll-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 14px;
  right: 2%;
  top: 38%;

  @include tablets {
    right: 10px;
  }
}

.scroll-list--light > .scroll-list__dot {
  background-color: $color-white;
}

.scroll-list--light > .scroll-list__dot--active {
  background-color: $color-white;
}

.scroll-list--light > .scroll-list__dot--active::before {
  border: 1px solid $color-white;
}

.scroll-list__dot {
  height: 7px;
  width: 7px;
  background-color: $color-black;
  opacity: 60%;
  border-radius: 50%;
}

.scroll-list__dot--active {
  width: 7px;
  height: 7px;
  background-color: $color-red;
  border-radius: 50%;
  position: relative;
  opacity: 100%;
}

.scroll-list__dot--active::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 13px;
  height: 13px;
  border: 1px solid $color-red;
  border-radius: 50%;
}
