@use "normalize.css";
@use "glide.core.css";
@use "base.scss";
@use "common.scss";
@use "info_section.scss";
@use "specification_section.scss";
@use "purchase_section.scss";
@use "team_section.scss";
@use "colors_section.scss";
@use "reviews_section.scss";
@use "video_section.scss";
@use "ordering_section.scss";
@use "contacts_section.scss";

@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Bold.woff") format('woff'), url("../fonts/Play-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Regular.woff") format('woff'), url("../fonts/Play-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaSans";
    src: url("../fonts/AlegreyaSans-Regular.woff") format('woff'), url("../fonts/AlegreyaSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
