@use "mixins.scss" as *;
@use "variables.scss" as *;
@use "templates.scss" as *;

.info {
  display: flex;
  justify-content: center;
  background-color: $color-light-grey;

  &__container {
    display: flex;
    flex-direction: column;

    @include tablets {
      justify-content: start;
      height: 100%;
    }
  }

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
  }

  &__description {
    display: flex;
    align-items: center;
    position: relative;

    @include tablets {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include phones {
      margin-top: 17px;
    }
  }

  &__content {
    margin-top: 47px;
    width: 50%;

    @include tablets {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;
      margin-top: 64px;
    }

    @include phones {
      margin-top: 49px;
    }
  }

  &__title {
    @extend %for-main-titles;
    max-width: 80%;
    line-height: 52px;

    @include tablets {
      max-width: 100%;
    }

    @include phones {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__synopsis {
    margin-top: 22px;
    max-width: 70%;
    font-family: "AlegreyaSans", sans-serif;
    font-size: 21px;

    @include tablets {
      margin-top: 5px;
      max-width: 60%;
    }

    @include phones {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 64px;

    @include tablets {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 33%;
  }

  &__icon {
    min-width: 41px;
    min-height: 41px;
    width: 52px;
    height: 52px;
  }

  &__text {
    margin-left: 11px;
  }

  &__headphones {
    position: absolute;
    right: 3%;
    max-width: 489px;
    max-height: 489px;

    @include tablets {
      position: static;
      right: 0;
      max-width: 323px;
      max-height: 323px;
    }
  }

  &__order {
    margin-top: 29px;

    @include tablets {
      margin-top: 24px;
    }
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
    align-items: center;
    min-width: 178px;
    gap: 5px;

    @include tablets {
      display: none;
    }
  }
}

.logo {
  height: 40px;

  &__icon {
    width: 40px;
    height: 40px;
    fill: $color-red;
  }
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;

  &--collapsed {
    @include tablets {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      z-index: 2;
      background-color: $color-black-background;
    }
  }

  body:has(&--collapsed) &__list {
    @include tablets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  body:has(&--collapsed) .scroll-list__dot {
    @include tablets {
      display: none;
    }
  }

  body:has(&--collapsed) {
    @include tablets {
      overflow: hidden;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    gap: 13px;

    @include tablets {
      display: none;
    }
  }

  &__link {
    font-family: "AlegreyaSans", sans-serif;
    color: $color-black;
    font-size: 18px;

    @include tablets {
      color: $color-white;
      font-family: "Play", sans-serif;
      font-size: 36px;
      line-height: 72px;
    }
  }

  &__button {
    display: none;

    @include tablets {
      display: inline;
      cursor: pointer;
      margin-right: 0.5em;
    }

    &--active > {
      .cross-close-icon {
        position: relative;
        height: 20px;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
      }

      .burger-menu-icon {
        display: none;
      }
    }
  }
}

.burger-menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 24px;
}

.black-line {
  width: 20px;
  height: 0;
  border: 2.2px solid $color-black;
  border-radius: 20%;
}

.cross-close-icon {
  display: none;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $color-light-grey;
    border-radius: 15%;
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}
