@use "mixins.scss" as *;
@use "variables.scss" as *;
@use "templates.scss" as *;

.specification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;

  &__container {
    @extend %for-containers;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    @extend %for-main-titles;

    @include tablets {
      margin-top: 7px;
    }

    @include phones {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-top: 15px;
    max-width: 60%;
    text-align: center;
    color: $color-grey;

    @include tablets {
      max-width: 70%;
    }

    @include phones {
      max-width: 90%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    gap: 73px;

    @include tablets {
      margin-top: 52px;
      gap: 3px;
    }

    @include phones {
      flex-direction: column;
      margin-top: 32px;
      gap: 43px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 258px;

    @include tablets {
      max-width: 100%;
    }

    @include phones {
      flex-direction: row;
      text-align: start;
    }

    &:not(:last-child)::after {
      position: absolute;
      margin-left: 22%;
      margin-top: 50px;
      width: 67px;
      height: 21px;
      content: "";
      background: url('../images/icons/combined_shape.svg');

      @include tablets {
        content: none;
      }
    }
  }

  &__background-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    height: 128px;
    background-color: $color-light-grey;
    border-radius: 50%;

    @include phones {
      min-width: 64px;
      height: 64px;
    }
  }

  &__icon {
    width: 68px;
    height: 68px;

    @include phones {
      width: 34px;
      height: 34px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
      margin-left: 12px;
      max-width: 100%;
      align-items: start;
    }
  }

  &__header {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;

    @include phones {
      margin-top: 0;
    }
  }

  &__text {
    margin-top: 7px;
    max-width: 90%;
    font-size: 16px;
    color: $color-grey;

    @include tablets {
      margin-top: 18px;
    }

    @include phones {
      margin-top: 6px;
      max-width: 95%;
    }
  }
}
