@use "mixins.scss" as *;
@use "variables.scss" as *;

.work {
  display: flex;
  justify-content: center;
  background-color: $color-light-grey-background;
}

.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;

  @include phones {
    font-size: 32px;
  }
}

.work__player {
  position: relative;
  margin-top: 44px;
  width: 660px;

  @include tablets {
    margin-top: 40px;
    width: 600px;
  }

  @include phones {
    width: 395px;
  }
}

#player {
  width: 100%;
}

.work__play-main {
  position: absolute;
  width: 5%;
  height: 0;
  left: 50%;
  top: 45%;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 25px solid $color-red;
}

.work__controls {
  position: absolute;
  bottom: 4px;
  background-color: $color-black;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  //justify-content: center;
}

.work__play {
  width: 5%;
  height: 0;
  margin-left: 17px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid $color-white;
}

.work__progress-bar {
  width: 75%;
  background-color: $color-dark-grey;
  height: 4px;
}

.work__volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-left: 25px;
}

.work__volume-bar {
  width: 62px;
  background-color: $color-dark-grey;
  height: 4px;
}

.ytp-large-play-button {
  display: none;
}
