@import "styles/normalize.css";
@import "styles/base.scss";
@import "styles/info_section";
@import "styles/specification_section";

@font-face {
    font-family: "Play";
    src: url("fonts/Play-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Play";
    src: url("fonts/Play-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaSans";
    src: url("fonts/AlegreyaSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
