@import "normalize.css";
@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url("./fonts/AlegreyaSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
html {
  background-color: #F5F5F5;
  font-family: "Play", sans-serif;
  font-size: 16px;
}

.wrapper {
  font-weight: 400;
  color: #292929;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.section__wrapper {
  margin-top: 24px;
  margin-bottom: 50px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 40px;
  height: 40px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
}

.navigation__link {
  font-family: "AlegreyaSans", sans-serif;
  color: #292929;
  font-size: 18px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  gap: 5px;
}

.contact__icon {
  width: 14px;
  height: 14px;
}

.contact__phone {
  font-size: 18px;
  color: #292929;
}

.order__button {
  background-color: #E01F3D;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 21px 41px 21px 41px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  font-weight: 700;
  margin: 36px 2px 4px;
}

.intro__title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  max-width: 400px;
  margin-top: 94px;
}

.intro__text {
  font-family: "AlegreyaSans", sans-serif;
  font-size: 21px;
  max-width: 332px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 195px;
  height: 56px;
}

.sound__icon {
  width: 52px;
  height: 52px;
  margin-right: 11px;
}

.battery__icon {
  width: 52px;
  height: 52px;
  margin-right: 11px;
}

.charging__icon {
  width: 52px;
  height: 52px;
  margin-right: 11px;
}

.intro {
  max-width: 400px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  margin-top: 47px;
  margin-left: -15px;
}