$color-black: #292929;
$color-white: #FFFFFF;
$color-grey: #666666;
$color-red: #E01F3D;
$color-light-grey: #F5F5F5;
$button-color: #E01F3D;

html {
  font-family: "Play", sans-serif;
  font-size: 16px;
  // background-color: $color-light-grey;
}

.wrapper {
  font-weight: 400;
  color: $color-black;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 1100px;
  height: 652px;
}
