.specification__wrapper {
  margin: 103px 82px 89px;
  background-color: $color-white;
}

.specification__title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  max-width: 600px;
  text-align: center;
  margin-top: 103px;
  margin-left: auto;
  margin-right: auto;
}

.specification__text {
  font-size: 16px;
  max-width: 590px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.points__list {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  align-items: center;
}

.points__item {
  text-align: center;
  max-width: 276px;
  height: 290px;
}

.separator__icon {
  width: 67px;
  height: 21px;
  margin-bottom: 140px;
}

.background-circle__icon {
  width: 125px;
  height: 125px;
}

.long-battery__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  margin-left: -95px;
  margin-top: 30px;
}

.sound-quality__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  margin-left: -95px;
  margin-top: 30px;
}

.fast-charging__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  margin-left: -95px;
  margin-top: 30px;
}

.long-battery__header {
  font-weight: 700;
  font-size: 24px;
  margin-top: 24px;
}

.long-battery__text {
  font-size: 16px;
  max-width: 247px;
  margin-top: 7px;
}

.sound-quality__header {
  font-weight: 700;
  font-size: 24px;
  margin-top: 24px;
}

.sound-quality__text {
  font-size: 16px;
  max-width: 247px;
  margin-top: 7px;
}

.fast-charging__header {
  font-weight: 700;
  font-size: 24px;
  margin-top: 24px;
}

.fast-charging__text {
  font-size: 16px;
  max-width: 247px;
  margin-top: 7px;
}
